@model List<DemoDotNet5.ViewModel.CategoryViewModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-8">
            <h2 class="text-dark">Category List</h2>
        </div>
        <div class="col-4">
            <div class="form-group">
                <form asp-action="Index" method="get">
                    <div class="input-group">
                        <input type="text" name="SearchString" class="form-control" placeholder="Search Category Name">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br /><br />
        <table class="table">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Name</td>
                            <td>@obj.Desc</td>
                            <td>
                                <a asp-controller="Category" asp-route-Id="@obj.Id" asp-action="Edit" class="btn btn-success">Edit</a>
                                <a onclick="return confirm('Are you sure ?')" asp-controller="Category" asp-route-Id="@obj.Id" asp-action="Delete" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr colspan="3">No Category exists.</tr>
                }
            </tbody>
        </table>
   

    <div>
        <a class="btn btn-primary" asp-controller="Category" asp-action="Create">
            Insert
        </a>
    </div>
</div>

